pkgbase = samsung-galaxybook-hotkey-dkms
	pkgdesc = DKMS override for samsung_galaxybook SAM0430 ACPI hotkeys
	pkgver = 0.2
	pkgrel = 1
	url = https://github.com/joshuagrisham/samsung-galaxybook-extras
	arch = any
	license = GPL-2.0-or-later
	depends = dkms
	optdepends = linux-headers: headers for the stock Arch kernel
	optdepends = linux-ptl-headers: headers for linux-ptl kernels
	source = samsung-galaxybook.c::https://raw.githubusercontent.com/torvalds/linux/028ef9c96e96197026887c0f092424679298aae8/drivers/platform/x86/samsung-galaxybook.c
	source = firmware_attributes_class.h::https://raw.githubusercontent.com/torvalds/linux/028ef9c96e96197026887c0f092424679298aae8/drivers/platform/x86/firmware_attributes_class.h
	source = sam0430-hotkeys.patch
	source = Makefile
	source = dkms.conf
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = samsung-galaxybook-hotkey-dkms
